@import "tailwindcss";

@font-face {
  font-family: "Underdog";
  src: url(./fonts/Underdog.ttf) format("truetype");
  font-weight: 400;
}

@theme {
  --font-sans: "Underdog";
}

:root{
  --main-bg-color: #151c16ed;
}

html,
body {
  color: #c6c6cb;
  font-family: Underdog;
}

.section-container {
  width: 100dvw;
  max-width: 1280px;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
