@media screen and (max-width: 639px) {
  .nav-active {
    top: 2rem !important;
  }
}

.section-container {
  width: 100dvw;
  max-width: 1280px;
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}